{% extends 'base/base.html' %}

{% block title %}Albums{% endblock %}

{% block content %}
    <div class="container">
        <h2>Albums</h2>
        <div class="row">
            {% for album in albums %}
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title">{{ album.title }}</h5>
                            <p class="card-text">{{ album.artist }}</p>
                            <a href="{% url 'album_detail' album.pk %}" class="btn btn-success">View Album</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'album_new' %}" class="btn btn-success mt-4">Add new album</a>
    </div>
{% endblock %}


