{% extends 'base/base.html' %}

{% block title %}Author Detail{% endblock %}

{% block content %}
    <div class="container">
        <div class="card bg-dark text-white">
            <div class="card-header">
                <h2 class="card-title">{{ author.name }}</h2>
            </div>
            <div class="card-body">
                <p class="card-text">Bio: {{ author.bio }}</p>
                <a href="{% url 'author_edit' author.pk %}" class="btn btn-success">Edit author</a>
            </div>
        </div>
    </div>
{% endblock %}
