{% extends 'base/base.html' %}

{% block title %}Songs{% endblock %}

{% block content %}
    <div class="container">
        <h2>Songs</h2>
        <ul class="list-group">
            {% for song in songs %}
                <li class="list-group-item bg-dark text-white">
                    <a href="{% url 'song_detail' song.pk %}" class="text-success">{{ song.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'song_new' %}" class="btn btn-success mt-4">Add new song</a>
    </div>
{% endblock %}



